USE [master]
GO
/****** Object:  Database [ambulance]    Script Date: 04.10.2023 16:10:29 ******/
CREATE DATABASE [ambulance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ambulance', FILENAME = N'C:\Users\10200289\ambulance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ambulance_log', FILENAME = N'C:\Users\10200289\ambulance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ambulance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ambulance]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 04.10.2023 16:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[ID_actions] [int] IDENTITY(1,1) NOT NULL,
	[Description_actions] [nvarchar](1000) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brigades]    Script Date: 04.10.2023 16:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brigades](
	[ID_brigade] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[ID_specialization] [int] NOT NULL,
	[ID_actions] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calls]    Script Date: 04.10.2023 16:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calls](
	[ID_call] [int] IDENTITY(1,1) NOT NULL,
	[ID_brigade] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[ID_patient] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 04.10.2023 16:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[ID_patient] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nchar](20) NOT NULL,
	[Name] [nchar](20) NOT NULL,
	[Lastname] [nchar](20) NULL,
	[Date_of_birth] [date] NOT NULL,
	[Sex] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 04.10.2023 16:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[ID_specialization] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nchar](20) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([ID_actions], [Description_actions]) VALUES (1, N'Реанимационная деятельность')
INSERT [dbo].[Actions] ([ID_actions], [Description_actions]) VALUES (2, N'Диагностирование заболевания или травмы, требующей стационарного лечения')
INSERT [dbo].[Actions] ([ID_actions], [Description_actions]) VALUES (3, N'Диагностирование заболевания, подразумевающего амбулаторное лечение')
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[Brigades] ON 

INSERT [dbo].[Brigades] ([ID_brigade], [Number], [ID_specialization], [ID_actions]) VALUES (2, 960, 1, 1)
INSERT [dbo].[Brigades] ([ID_brigade], [Number], [ID_specialization], [ID_actions]) VALUES (3, 356, 2, 2)
INSERT [dbo].[Brigades] ([ID_brigade], [Number], [ID_specialization], [ID_actions]) VALUES (4, 127, 3, 3)
SET IDENTITY_INSERT [dbo].[Brigades] OFF
GO
SET IDENTITY_INSERT [dbo].[Calls] ON 

INSERT [dbo].[Calls] ([ID_call], [ID_brigade], [Date], [Time], [Address], [ID_patient]) VALUES (1, 1, CAST(N'2023-07-20' AS Date), CAST(N'14:40:00' AS Time), N'Коменданский 23, кв560', 3)
INSERT [dbo].[Calls] ([ID_call], [ID_brigade], [Date], [Time], [Address], [ID_patient]) VALUES (3, 2, CAST(N'2023-08-02' AS Date), CAST(N'10:00:00' AS Time), N'Арцеуловская 17, кв795', 2)
INSERT [dbo].[Calls] ([ID_call], [ID_brigade], [Date], [Time], [Address], [ID_patient]) VALUES (5, 2, CAST(N'2023-06-13' AS Date), CAST(N'20:30:00' AS Time), N'Лидии Зверевой 5, 23', 1)
SET IDENTITY_INSERT [dbo].[Calls] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([ID_patient], [Surname], [Name], [Lastname], [Date_of_birth], [Sex]) VALUES (1, N'Федорова            ', N'Варвара             ', N'Максимовна          ', CAST(N'2005-09-04' AS Date), N'Ж         ')
INSERT [dbo].[Patients] ([ID_patient], [Surname], [Name], [Lastname], [Date_of_birth], [Sex]) VALUES (2, N'Прудова             ', N'Виктория            ', N'Андреевна           ', CAST(N'2005-12-29' AS Date), N'Ж         ')
INSERT [dbo].[Patients] ([ID_patient], [Surname], [Name], [Lastname], [Date_of_birth], [Sex]) VALUES (3, N'Поливчак            ', N'Алена               ', N'Олеговна            ', CAST(N'2004-09-27' AS Date), N'Ж         ')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Specializations] ON 

INSERT [dbo].[Specializations] ([ID_specialization], [Title]) VALUES (1, N'Реанимация          ')
INSERT [dbo].[Specializations] ([ID_specialization], [Title]) VALUES (2, N'Госпитализация      ')
INSERT [dbo].[Specializations] ([ID_specialization], [Title]) VALUES (3, N'Врач терапевт       ')
SET IDENTITY_INSERT [dbo].[Specializations] OFF
GO
USE [master]
GO
