<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ambulance.Properties.Settings.ambulanceConnectionString"
            connectionString="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=ambulance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ambulance.Properties.Settings.ambulanceConnectionString1"
            connectionString="Data Source=DESKTOP-GDHCIFF;Initial Catalog=ambulance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>